<footer class="footer" style="background-color: #0567cf;">
    <div class="container">
        <div class="footer-content">
            <div class="footer-list d-grid text-white">
                <div class="footer-item">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <img src="assets/img/logoSinLetra.png" class="brand-shape" style="max-width: 40%; height: 50px;" alt="Medical Guard Logo">
                        <span class="brand-text fw-7">Medical Guard</span>
                    </a>
                    <p class="text-white">Medical Guard es tu solución en línea para reportar y gestionar incapacidades. 
                        Conoce el estado de tu reporte y recibe notificaciones en tu correo sobre pagos y rechazos.</p>
                    <p class="text-white">© Medical Guard 2024. Todos los derechos reservados.</p>
                </div>

                <div class="footer-item">
                    <h3 class="footer-item-title">Empresa</h3>
                    <ul class="footer-links">
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Términos y Condiciones</a></li>
                    </ul>
                </div>

                <div class="footer-item">
                    <h3 class="footer-item-title">Soporte</h3>
                    <ul class="footer-links">
                        <li><a href="#">Centro de ayuda</a></li>
                        <li><a href="#">Contactar soporte</a></li>
                        <li><a href="#">Instrucciones</a></li>
                        <li><a href="#">Cómo funciona</a></li>
                    </ul>
                </div>

                <div class="footer-item">
                    <h3 class="footer-item-title">Contacto</h3>
                    <ul class="footer-links">
                        <li><a href="#">Directorio de Entidades</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-element-1">
        <img src="assets/img/element-img-4.png" alt="">
    </div>
    <div class="footer-element-2">
        <img src="assets/img/element-img-5.png" alt="">
    </div>
</footer>
